@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

a:not(.no-global-style) {
    @apply hover:text-red-500 dark:hover:text-green-500;
    @apply cursor-pointer;
}

#app {
    @apply bg-slate-100;
    @apply dark:bg-slate-600;
}

input,select{
    @apply bg-white;
    @apply dark:bg-gray-700;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #864a96 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #864a96;
    border-radius: 18px;
    border: 1px solid #ffffff;
}